WIRE_PRIVATE=qN3FGrv7rXRANDOMRANDOMRANDOMom6ZcXHp1k=
WIRE_ADDRESS=10.14.0.2/16
WIRE_COUNTRY=United Arab Emirates

PDOWN_QUALITY="half"
PDOWN_FILE=/RANDOMG_DIR/filename.txt
PDOWN_DOWNLOAD_LOCATION=/home/RANDOM_DIR/RANDOM_DIR/